<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/DavidDurman/FlexiColorPicker/master/colorpicker.min.js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/DavidDurman/FlexiColorPicker/master/themes.css" />
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <style type="text/css">
        body  { background: #F4F7FE; }
        .navbar { background-color: #27489D; border-color:transparent; border-radius: 0px; }
        .navbar-inverse .navbar-brand { color: #F4F7FE; }
        .row { margin-top: 50px; }
        .picker { width: 400px !important; height: 300px !important; }
        .slide { height: 300px !important; }
        .cp-default { background: #869FDD; }
    </style>
    <script type="text/javascript">
        jQuery(document).ready(function() {
            var cp = ColorPicker(
                document.getElementById('color-picker'),
                function(hex, hsv, rgb) {
                    var fade = jQuery('#fade').is(':checked');
                    var speed = jQuery('#speed').val() || 0.01;
                    var params = { 'light': 0, 'h': hsv.h, 's': hsv.s, 'v':  hsv.v }

                    if (fade) {
                        params['speed'] = speed;
                    }

                    var lights = [];
                    jQuery('.light').each(function(i, e) {
                        if ($(e).is(':checked')) {
                            lights.push(i);
                        }
                    });

                    lights.forEach(function(l) {
                        params['light'] = l;
                        jQuery.ajax({
                            url: fade ? '/fade/_basic' : '/set/_basic',
                            type: 'POST',
                            contentType: 'application/json',
                            dataType: 'json',
                            data: JSON.stringify(params)
                        });
                    });
            });
            cp.setHex('#000000');
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <a class="navbar-brand">
                <i class="glyphicon glyphicon-flash"></i>
                PyLi
            </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="row">
                    <h4>LED Strands</h4>
                    <div class="col-xs-8">
                        <input type="checkbox" class="light" checked>1</input>
                        <input type="checkbox" class="light" checked>2</input>
                        <input type="checkbox" class="light">3</input>
                        <input type="checkbox" class="light">4</input>
                        <input type="checkbox" class="light">5</input>
                    </div>
                </div>
                <div class="row">
                    <h4>Effects</h4>
                    <div class="col-xs-5">
                        <label for="fade">Fade Effect</label>
                        <input type="checkbox" class="" id="fade"></input>
                        <br/>
                        <br/>
                        <label class="pull-left" for="speed">Speed(sec)</label>
                        <input class="form-control" type="input" id="speed" value="0.1"></input>
                    </div>
                </div>
            </div>
            <div class="col-cs-5">
                <div class="row">
                    <div id="color-picker" class="cp-default"></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
