<html>
<head>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script type="text/javascript" src="https://rawgit.com/DavidDurman/FlexiColorPicker/master/colorpicker.min.js"></script>
    <style type="text/css">
        #picker { width: 200px; height: 200px }
        #slider { width: 30px; height: 200px }
        body  { background: grey; }
    </style>
</head>
<body>

    <span id="values"></span>
    <br/>
    <input type="checkbox" class="fade" id="fade">Fade</input>
    <br/>
    <label for="speed">Speed(0.0 - 1.0)</label>
    <input type="input" id="speed"></input>
    <br/>
    <div id="picker"></div>
    <div id="slider"></div>

    <script type="text/javascript">

    var cp = ColorPicker(

        document.getElementById('slider'),
        document.getElementById('picker'),

        function(hex, hsv, rgb) {
            var fade = jQuery('#fade').is(':checked');
            var speed = jQuery('#speed').val() || 0.01;
            var params = { 'h': hsv.h, 's': hsv.s, 'v':  hsv.v }

            if (fade) {
                params['speed'] = speed;
            }

            jQuery.post(
                    fade ? '/fade' : '/basic',
                    params
            );
            jQuery('#values').html(JSON.stringify(hsv) + '<->' + JSON.stringify(rgb));
        });
        cp.setHex('#000000');
    </script>
</body>
</html>
